.competence-card {
  display: flex;
  flex-direction: row;
  // margin-top: 2em;
  // margin-right: 2em;
  // margin-left: 2em;
  // margin-bottom: 3em;
  margin: auto;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.competence-card-firstrow {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.competence-card-tworow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.competence-card-treerow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
}

.competence-card-fourrow {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  padding: 40px;
  justify-content: space-around;
}

