.footer {
  background-color: black;
  color: white;
  width: 100vw;
  height: 80px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

@media (max-width: 600px) {
  .footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 60px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

  }

  .footer-links {
    width: 30%;
  }
}
