.footer {
  background-color: black;
  color: white;
  position: fixed;
  width: 100vw;
  height: 80px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
}
