.projet {
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
}

.img-fridgefriends {
  text-align: left;
  padding-bottom: 8%;
  padding-top: 5%;
}

.font-projets {
  color: black;
  text-align: left;
  margin-top: -28%;
  margin-left: 21%;
  margin-bottom: 30%;
}
