.trait {
  background       : transparent;
  border-color       : #0AAEB7;
  border-width       : 0 0 1px;
  width: 400px;
  border-style       : solid;
  margin-top: 0.50em;
}
.h2-paragraphe {
  color: #333333;
  text-transform: uppercase;
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  margin-top: 1em;
}

